In [8]:
import pandas as pd
import numpy

In [10]:
df = pd.read_csv("A회사_보습제_매출데이터_v1.csv", encoding="cp949")
df

,Unnamed: 0,Sep,Oct,Nov,Dec,Jan,Feb
0,총매출,"$5,280,000","$5,501,000","$5,469,000","$5,480,000","$5,533,000","$5,554,000"
1,목표매출,"$5,280,000","$5,500,000","$5,729,000","$5,968,000","$6,217,000","$6,476,000"
2,광고비용,"$1,056,000","$950,400","$739,200","$528,000","$316,800","$316,800"
3,소셜네트워크비용,$0,"$105,600","$316,800","$528,000","$739,200","$739,200"
4,1온스별단가,$2.00,$2.00,$2.00,$1.90,$1.90,$1.90

1.과거 6개월 매출 추이는 어떠한가요?
2.A회사의 비용에서 어떤 패턴을 찾을 수 있나요?
3.목표 매출과 비교해서 총 매출 수치는 어떠한가요?
4.단가는 어떻게 되고 있죠? 왜 계속 내려가고 있는걸까요?
5.A회사의 대표이사는 데이터분석을 통해 매출을 올릴수 있도록 도움을 받고 싶어 합니다. 데이터를 분석할때 여러분은 무엇을 합니까?

1) 매출을 어느 정도까지 올리고 싶습니까?

- 표에 나온것 처럼 우리가 목표로 했던 매출까지는 올리고 싶습니다.

- 우리 회사의 모든 예산은 이 목표를 기준으로 만들어져 있으므로 목표를 달성하지 못한다면 문제가 생김

2) 어떻게 대처하면 좋을까요?

- 그것을 생각하는것은 여러분의 일입니다. 단 저희는 사람들이 더 많이 구매 할 수 있도록 전략을 세울 생각입니다. 여기서의 '사람들이란' 10대 (11~19세)의 여성입니다. 마케팅이나 다른 여러가지를 실행해 가면서 매출을 올리게 되겠지요. 여러분은 데이터 담당자입니다. 생각해주시기 바랍니다.

3) 얼마 정도의 매출 증가가 실현 가능하다고 생각하시나요? 목표 매출은 적절한가요?

- 10대의 여성은 돈을 가지고 있습니다. 아이를 돌보면서 받는 수입이나 부모님께 받는 용돈 등이 있지요. 그녀들에게 해당 제품을 판매하는데 무리가 없다고 생각합니다.

4) 경쟁사의 매출은 어떻습니까?

- 구체적인 숫자는 모릅니다만, 우리 회사를 크게 앞지르고 있다는 인상을 받고 있습니다. 그들은 보습제의 총 수익이 우리보다 50%에서 100% 정도 앞서고 있습니다.

5) 광고비나 소셜네트워크 마케팅의 예산은 어떻게 되어 있습니까?

- 새로운 방법을 시험해보고 있습니다. 총 예산은 첫달 수입의 20%입니다. 이전에는 이 모든것을 광고에 사용하고 있었습니다만, 소셜네트워크로 비중을 옮겨가고 있는 중입니다. 광고비를 소셜 네트워크에 투자 하지 않았을 경우에 벌어질 일을 생각하니 몸서리 쳐지는 군요.